[settings]
experimental = true
disable_backends = ["asdf", "vfox"]
idiomatic_version_file_enable_tools = ["python"]

[settings.pipx]
uvx = true

[settings.npm]
package_manager = "pnpm"

[tools]
# Runtimes and package managers
deno = "latest"
go = "latest"
node = "lts"
pnpm = "latest"
rust = "latest"
uv = "latest"

# Development tools
terraform = "latest"
ty = "latest"
claude-code = "latest"
"github:github/copilot-cli" = "latest"
{{ if eq .chezmoi.hostname "tak" -}}
codex = "latest"
{{ end -}}


# npm packages
"npm:@aikidosec/safe-chain" = "latest"
"npm:@typescript/native-preview" = "latest"
"npm:czg" = "latest"

# pipx packages
"pipx:claude-code-log" = "latest"
{{ if eq .chezmoi.hostname "N01709497" -}}
"pipx:snowflake-cli" = "latest"
{{ end -}}
